@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Playfair Display SC', serif;
    color: rgb(90, 83, 75);
}

h1 {
    margin-bottom: 5px;
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    margin-top: 0;
}

.content {
    flex-grow: 1;
    background-image: url("img/gravel.png");
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.33em;;
}

p.intro, .score {
    width: 40%;
    text-align: justify;
    background-image: url("img/vintage-concrete.png");
    border: solid;
    padding: 20px;
    box-shadow: 10px 10px 10px 0 black;
}

p.result, p.scoreResult {
    text-align: center;
}

img {
    width: 75px;
}

button {
    border-radius: 15px;
    height: 100px;
    width: 100px;
    padding: 0;
    box-shadow: 10px 10px 10px 0;
}

button:hover {
    background-image: url("img/vintage-concrete.png");
    transform: scale(1.1);
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 33%;
    margin-bottom: 50px;
}

.header, .footer {
    background-image: url("img/vintage-concrete.png");
    display: flex;
    align-items:  center;
    flex-direction: column;
}

.header {
    border-bottom: solid;
}

.footer {
    font-family: erif;
    border-top: solid;
    font-size: 14px;
    padding: 1.33em;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score>h1, .score>h2, .score>p {
    margin: 0;
}

.score>.scoreResult {
    margin: 25px 0 15px 0;
}

button.reset {
    height: 50px;
    font-family: 'Playfair Display SC', serif;
    font-size: 25px;;
}